body{
    font-family:Arial, Helvetica, sans-serif ;
    font-size: large;
}



img {
    height: 500px;
    width: 600px;
    border-radius: 10px;

   
}
h1{
    text-align: center;
  color: rgb(71, 21, 71); ;
  margin: 20px 0;
}

  #header {
    justify-content:space-around;
     display: flex;
    list-style: none;
    padding: 0;
    background-color: rgb(71, 21, 71);;
    margin: 0;
    color: rgb(235, 212, 9);

  }
  #breedInfo {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  #header li {
    margin: 0 20px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
    display: flex;
    justify-content: space-around;
    font-size: x-large;
  }
  #catBreed {
    margin: 10px 0;
    padding: 5px;
    color:rgb(71, 21, 71) ;
  }
  #header li:hover {
    color: #00f; /* Change color on hover */
  }
  

.liked {
    color: rgb(184, 47, 47);
  }
  #home {
display: flex;
justify-content: space-between;
padding: 20px;

  }
#hoome {

    height: 500px;
    width: 500px;
}.homep {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  } 

#selectCat{
    display: flex;
    justify-content: space-around;
    
}
#submit-button,
#submit-comment,
button {
   background-color:rgb(192, 176, 36); 
   color: #fff;
   border: none;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   transition-duration: 0.4s;
   cursor: pointer;
   border-radius: 12px;
}

 

#moreInfo,
#footer {
    background-color: rgb(71, 21, 71);
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    
    
}

#contacts {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size: larger;
}
#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


#footer li {
    flex-basis: 25%;
    cursor: pointer;
    transition: color 0.3s;
    text-align: center;
}
  
  #footer ul li:hover {
    color: #00f; 
  }
 .footer-copyright{
    color: rgb(235, 212, 9);
 }
 #interchangeButton {
    margin-top: 20px; 
 }
#selectCat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    text-align: center;
}

#interchangeButton {
    margin-top: 20px;
}

#homeSection.highlighted,
#catBreedsSection.highlighted,
#catOfChoiceSection.highlighted {
  background-color: lightblue;
}